@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Josefin+Sans:wght@200&display=swap');

body, html {font-family: 'Josefin Sans', sans-serif; height: 100%; font-weight:bold }
* { box-sizing: border-box; overflow: hidden; margin: 0; padding: 0; }

:root {
  --cor-button: #ffffff;
}

/* background */

#root { 
  height: 100%; 
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  color: #fff; 
  background: #D3DEDC;
}

/*  Título */
h1 { font-size: 4rem; padding: 10px 0px 30px 10px; font-family: 'Comfortaa', cursive; color: #92A9BD; }


/* Calculadora */
.calculadora {
  width: 260px;
  height: 325px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 1fr repeat(5, 48px);
  margin: auto;
  border-radius: 0px 0px 20px 20px;
}
.span-3 { grid-column: span 3; }
.span-2 { grid-column: span 2; }


/* A tela da calculadora */
.tela {
  grid-column: span 4;
  background-color: #7C99AC;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  font-size: 1.8rem;
  border-radius: 20px 20px 0px 0px;
}


/* Botões */
.button {
  font-size: 1.5rem;
  color: #716f6f;
  border: none;
  outline: none;
}
.button:active { opacity: .8; }


.button.op { 
  background-color: rgba(9, 123, 168, 0.508); 
  color: white;   
}
.button.op:active { opacity: .8; }